@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Syne:wght@400..800&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Roboto Slab', sans-serif;
}

body{
    display : flex;
    justify-content : center;
    min-height : 100vh;
    align-items : center;
    background : url(../Imagens/admin-bg.jpg) no-repeat;
    background-size : cover;
    background-position : center;
}

.container{
    position : relative;
    width : 600px;
    border : 40px solid rgba(125, 75, 172, 0.2);
    padding : 40px 50px;
    border-radius : 160px;
    backdrop-filter : blur(9px);
    box-shadow: 
        0 0 0 2px rgba(114, 93, 148, 0.6),
        inset 0 0 0 2px rgba(114, 93, 148, 0.6);
}



h1{
    color : #553a94;
    font-size : 39px;
    font-weight : 1000;
    text-align : center;
}

.portal-menu{
    display : flex;
    justify-content : center;
    background-position : center;
}

.portal-item{
    width : 90%;
    height : 100%;
    background : transparent;
    outline : none;
    font-size : 15px;
    text-align : center;
    border-radius : 4px;
    margin-top : 20px;
}

.portal-btn{
    font-weight: 650; 
    color: #70439b; 
    text-decoration: none; 
    font-size : 20px;
    font-weight : 600;
}

.portal-btn:hover {
    text-decoration: underline; 
}