@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Syne', sans-serif;
}

body{
    display : flex;
    justify-content : center;
    align-items : center;
    min-height : 100vh;
    background : url(../Imagens/bg.png) no-repeat;
    background-size : cover;
    background-position : center;
}

.container{
    color : #000;
    width : 420px;
    background : transparent;
    border : 4px solid rgba(48, 29, 12, 0.2);
    padding : 30px 100px;
    border-radius : 120px;
    backdrop-filter : blur(9px);
}

h1{
    color : #352001;
    font-size : 39px;
    font-weight : 700;
    text-align : center;
}

.form-input{
    position : relative;
    width: 100%;
    height : 20px;
    margin : 8px 0;
}

.form-input input{
    width : 90%;
    height : 100%;
    background : transparent;
    outline : none;
    border : 2px solid rgba(31, 23, 23, 0.2);
    color : #140202;
    font-size : 15px;
    text-align : center;
    border-radius : 4px;
}

.form-input select {
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(31, 23, 23, 0.2);
    color: #140202;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    text-align-last: center;
    cursor: pointer;
}

.form-input input::placeholder{
    color : #00000033;
}

.form-input select::placeholder{
    color : #00000033;
}

.form-input i{
    color : #633d04;
}

.btn{
    display: block;
    margin-left: 20px;  
    width : 75%;
    height : 25px;
    background-color : #d3c7b6;
    color : #fff;
    border : none;
    outline : none;
    border-radius : 4px;
    cursor : pointer;
    font-size : 16px;
    color: #49310f;
    font-weight : 555;
    transition : all .4s ease-in-out;
}

.btn:hover{
    background : #c5b7a4;
    color : #49310f;
}

.form-footer-login {
    font-size: 14px;
    font-weight: 200;
    color: #49310f;
    text-align: center;
    margin-top: 5px;
}

.form-footer-link {
    position : left;
    font-weight: 650; 
    color: #8d8273; 
    text-decoration: none; 
}

.form-footer-login-link:hover {
    text-decoration: underline; 
}

.form-footer-register {
    font-size: 14px;
    font-weight: 200;
    color: #49310f;
    display: block;
    margin-left: 80px;  
    margin-top: 5px;
}

.form-footer-link {
    font-weight: 650; 
    color: #8d8273; 
    text-decoration: none; 
}

.form-footer-link:hover {
    text-decoration: underline; 
}

.error-msg{
    color : #352001;
}