@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Syne:wght@400..800&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Syne', sans-serif;
}